<%- include('partials/header') %>

    <div class="main-card">

        <div class="q-card">
            <% if(quizzes.length !=0){ %>
            <form action="/u/createChannel/quiz" method="post">
                <input type="text" value="<%= channelName %>" name="channelName" hidden>
                <h1>Create Your Channel</h1>
                <h2>Select a Quiz</h2>
                <select name="quizId">
                    <% quizzes.forEach(quiz=>{ %>
                        <option value="<%= quiz._id %>"><%= quiz.quiz_name %></option>
                    <% }) %>
                </select>
                <button type="submit">create</button>

            </form>
           <% } else { %>
                No Quiz Found. Please add a quiz first. <br>
                <a href="/u/quiz-list"><button>Add Quiz</button></a>
         <% }%>
        </div>
        
    </div>

<%- include('partials/footer') %>