<%- include('partials/header') %>

    <% if (!user){ %>
        <style>
            nav {
                display: none;
            }
        </style>
    <% } %>

    <div class="main-card">

        <% if (mode==='login') { %>
            <%- include('partials/login-popup') %>
        <% } else { %>
        <h1 class="q-card" align=center>
            <a href="/logmyvalue"><p style="font-size: small;">username: </p><%=user?.username%></a>
            <a href="/a/logout"><button>Login/Logout</button></a>
            <!-- <br><a align=center href='/u'><button>Tools</button></a> -->
            <ul>
                <% authorizedChannels?.forEach(link=>{ %>
                    <li style="font-size: small;"><a href="/link/<%= link.channelName %>"> <%= link.channelName %> </a></li>
                <% }); %>
            </ul>
        </h1>
        <% } %>
    </div>


<%- include('partials/footer') %>