<%- include('partials/header') %>

    <div class="main-card">
        <div class="q-card">
            <h3><%=message%></h3>
            <a href="<%=btnHref%>"><button><%= btnText %></button></a>
        </div>
    </div>


<%- include('partials/footer') %>