<%- include('partials/header') %>

    <div class="main-card">

        <h1 class="q-card" align=center>
            <a><%= quiz.quiz_name%></a>
           
            <ul>
               <% quiz.questions.forEach(question=>{ %>
                <li><%= question.question %></li>
               <% }) %>

               <a href="/u/quiz/<%= quiz._id %>/add-question"><button>Add Question</button></a>
            </ul>
        </h1>
    </div>

<%- include('partials/footer') %>