<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>You or Not You</title>
    <link rel="stylesheet" href="/css/styles.css">
    <meta name="google-site-verification" content="82veNRkihkMX9ar-Vjuzxu2krnDrTJI-hRklnem_D6A" />

    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
</head>
<body>


<style>
    nav{
        display: none;
    }

    .slide0 {
        height: 100vh; 
        width: 100%;
        position: absolute;
        <% if(quiz){ %>
            z-index: 3;
        <% } else { %>
            display: none;
            z-index: -3;
        <% } %>
        transition-delay: 1s;
        transition: height 2s ease-out;
    }

    #slide0hide {
        height: 0; 
        width: 100%;
    }

    .slide0content {
        height: 50vh;
        width: 100%;
        transition: height 2s ease-out;
    }

    #slide0contenthide {
        height: 0;
        width: 100%;
        /* display: none; */
    }

    #nextBtn {
        font-size: xx-large;
    }

    

</style>

<div class="slide0 slide-main-card">
    <% console.log("form html", quiz?.quiz_name) %>
        <div class="slide0content slide-card">
            <h1><%= quiz?.quiz_name %><br>✨✨</h1> <br><br><br><br><br> <p id="mainpara">Attempt this quiz below to make sure it's really you<br>I dont wanna take any chances 😛</p> 
            <button id="nextBtn">Prove Your Identity 🌟</button>
        
        </div>
</div>

<!-- the actual quiz  -->
<div class="slide-main-card">
    <div class="main-card">
        <div class="q-card">
            <% if (!question) { %>
                <h1><a href="/">No Question</a></h1>
            <% } else { %>
                <h1>Answer This</h1><br>
                <form action="/q/submit-quiz" method="POST">                
                    <p><%=question.question%></p>
                    <% question['options'].forEach(option=>{ %>
                        <div>
                            <label for="<%=option%>"><%=option%>    
                                <input required type="radio"
                                    id="<%=option%>"
                                    name="option"
                                    value="<%=question['options'].indexOf(option)%>">
                            </label>
                        </div>
                    <% }) %>
                    <br>
                    <div><button type="submit">Answer</button></div>
                </form>
            <% } %>
        </div>
    </div>
</div>






    <script>




        let currentDivCount = 1;
        
        document.getElementById('nextBtn').addEventListener('click', function(){        
    
            let totalDivs =  document.getElementsByClassName("slide-main-card").length;
            let slideLength = totalDivs - 1;
            if (currentDivCount == slideLength){
                document.getElementById('nextBtn').style.display = "none";
            }
            
            let slideZero = document.querySelector(".slide0");
            let slideZerocontent = document.querySelector(".slide0content");
            let ptitle = document.querySelector("#mainpara");

            slideZero.id = "slide0hide"
            slideZerocontent.id = "slide0contenthide"
            ptitle.style.display = "none"

            let slideMainCard = document.getElementById('slide-' + currentDivCount);
            
            if (slideMainCard) {
    
                currentDivCount++;
            }
        });
    </script>






<%- include('partials/footer') %>