<%- include('partials/header') %>

        <!-- add question form -->
        <div class="main-card">
            <div class="q-card">
                <form action="/u/quiz/add-question/<%- quiz._id %>" method="post">
                    <h1>Add Question</h1><br>
                    <div>
                         <input required type="text" name="question" placeholder="Question" style="width: 201px;">
                    </div>
                    <div>
                        <input value="0" required name="correct" type="radio"><input required type="text" placeholder="option 'a'" name="a"><br>
                        <input value="1" required name="correct" type="radio"><input required type="text" placeholder="option 'b'" name="b"><br>
                        <input value="2" required name="correct" type="radio"><input required type="text" placeholder="option 'c'" name="c">
                    </div>
                    <button type="submit">Add</button>
                </form>
            </div>

            <!-- questions list -->
            <h1 class="q-card" align=center>
                <a><%= quiz.quiz_name%></a>
               
                <ol>
                   <% quiz.questions.forEach(question=>{ %>
                    <li align="left" style="font-size: medium; color: white;"><%= question.question %></li>
                   <% }) %>
    
                   <!-- <a href="/u/quiz/<%= quiz._id %>/add-question"><button>Add Question</button></a> -->
                </ol>
            </h1>


        </div>

<%- include('partials/footer') %>