<%- include('partials/header') %>

    <div class="main-card">
        <div class="q-card">
            <% if (!question) { %>
                <h1><a href="/">No Question</a></h1>
            <% } else { %>
                <h1>Answer This</h1><br>
                <form action="/q/submit-quiz" method="POST">                
                    <p><%=question.question%></p>
                    <% question['options'].forEach(option=>{ %>
                        <div>
                            <label for="<%=option%>"><%=option%>    
                                <input required type="radio"
                                    id="<%=option%>"
                                    name="option"
                                    value="<%=question['options'].indexOf(option)%>">
                            </label>
                        </div>
                    <% }) %>
                    <br>
                    <div><button type="submit">Answer</button></div>
                </form>
            <% } %>
        </div>
    </div>

<%- include('partials/footer') %>