<%- include('partials/header') %>

    <div class="main-card">
        <div class="q-card">
            <p>true=😌, false=😛</p><br>
            <h1>You Choose</h1><br>
            <ul>
                <%  results.forEach(result=>{ %> 
                    <li><%= result.question %> - <%= result.answer %> <%= result.valid?"😌":"😛" %></li>
                <% }) %>
            </ul>
            <% if (wrongCounter === 0){ %>
                <p><a href="/s/start/<%= slideId %>"><button>Go Farward -></button></a></p>
            <% } else { %>
                <p><a href="/q/start/"><button>Retake Test</button></a></p>
            <%} %>
        </div>
    </div>

<%- include('partials/footer') %>