<%- include('partials/header') %>

    <div class="main-card">
        <!-- add page -->
        <div class="q-card">
            <h1>Add Page</h1><br>
            <form action='/u/slide/add-slide-page/<%= slide._id %>' method="post">
                <input required type="text" name="pageName" placeholder="type the page name here">
                <input type="text" name="pageDesc" placeholder="type the decription here">
                <button type="submit">Next</button>
            </form>
        </div>
            <!-- pages list -->
        <h1 class="q-card" align=center>
            <a><%= slide.slide_name%></a>
           
            <ul>
               <% slide.pages.forEach(page=>{ %>
                <li><a href="/u/slide/<%= slide._id %>/<%= page._id %>/add-media"><%= page.page_name %></a></li>
               <% }) %>

            </ul>
        </h1>
    </div>

<%- include('partials/footer') %>