<%- include('partials/header') %>

    <div class="main-card">

        <h1 class="q-card" align=center>
            <a><%= slide.slide_name%></a>
           
            <ul>
               <% slide.pages.forEach(page=>{ %>
                <li><a href="/u/slide/<%= page._id %>/add-media"><%= page.page_name %></a></li>
               <% }) %>

               <a href="/u/slide/<%= slide._id %>/add-slide-page/"><button>Add Page +</button></a>
            </ul>
        </h1>
    </div>

<%- include('partials/footer') %>