<%- include('partials/header') %>

<div id="slide0" class="slide-main-card" style="height: 100vh; width: 100%;position: absolute;z-index: -3;">
        <div class="slide-card" style="height: 30rem;">Title Lorem ipsum dolor sit</div>
</div>

<%
const slides = [{name: "Hi no 1",image: [{url: "/images/default-image.png"},{url: "/images/default-image.png"}]},{name: "Hi no 2",image: [{url: "/images/default-image.png"},{url: "/images/default-image.png"}]},{name: "Hi no 3",image: [{url: "/images/default-image.png"},{url: "/images/default-image.png"}]},{name: "Hi no 4",image: [{url: "/images/default-image.png"},{url: "/images/default-image.png"}]},{name: "Hi no 5",image: [{url: "/images/default-image.png"},{url: "/images/default-image.png"}]},{name: "Hi no 6",image: [{url: "/images/default-image.png"},{url: "/images/default-image.png"}]},{name: "Hi no 7",image: [{url: "/images/default-image.png"},{url: "/images/default-image.png"}]},]; 

slides.reverse().forEach((slide, index)=>{ 
    console.log(index-slides.length)
    %>
    <div id="slide<%= index-slides.length %>" class="slide-main-card">
        <h1 id="title<%= index-slides.length %>" style="display: none;" >This is <%= slide.name %></h1>
            <div id="slide-card<%= index-slides.length %>" class="slide-picture-box"><img src="/images/default-image.png" alt=""></div>
    </div>
<% }) %>



 <button style="position: absolute; top: 50%; right: 30px; font-size: larger; border-radius: 5px;" id="nextBtn">Next</button>



<script>
    let currentDivCount = 1;
    
    document.getElementById('nextBtn').addEventListener('click', function(){
        let AllDivs = document.querySelector(".slide-main-card");
        AllDivs.classList.add("hide-main-card");

        let slideMainCard = document.getElementById('slide-' + currentDivCount);
        let slideCard = document.getElementById('slide-card-' + currentDivCount);
        let slidePictureBox = document.getElementById('slide-card-' + currentDivCount);
        let titleH1 = document.getElementById('title-' + currentDivCount);
        
        if (slideMainCard) {

            slideMainCard.classList.add('show-next-page')
            slideCard.classList.add('show-card')
            slidePictureBox.classList.add('show-card')
            titleH1.style.display = "flex"

            currentDivCount++;
        }
    });


</script>



































            <!-- <hr> -->
            <% // slide['pages'].forEach(page=>{ %>
                <!-- <div class="main-card"> -->
                    <% // console.log(slide['pages']) %>
                    <!-- <ul> -->
                    <% // page['images'].forEach(image=>{ %>
                        <!-- <a href="<%= // image.url %>"><li><img src="<%= // image.url %>" loading="lazy" width="200" alt="oops"></li></a> -->
                    <% // }) %>
                    <!-- </ul> -->
                <!-- </div> -->
                <!-- <hr> -->
            <% // }) %>
<%- include('partials/footer') %>