<%- include('partials/header') %>

<style>
    nav{
        display: none;
    }

    #nextBtn {
        position: absolute; 
        top: 45%; 
        right: 11px; 
        font-size: larger; 
        border-radius: 5px; 
        height:100px;
    }

    @media screen and (max-width: 940px) {
        #nextBtn {
            position: absolute; 
            top: 95%; 
            right: 45%; 
            bottom: 11px;
            font-size: larger; 
            border-radius: 5px; 
            height:30px;
        }
    }
</style>

<div id="slide0" class="slide-main-card" style="height: 100vh; width: 100%;position: absolute;z-index: -3;">
        <div class="slide-card" style="height: 100vh; width: 100%;"><%= slide.slide_name %> <br><br><br><br><br> <p>click next to see more..</p> </div>
</div>

<%
const slides = slide['pages']; 
slides.reverse().forEach((page, index)=>{
    console.log(index-slides.length)
    %>
    <div id="slide<%= index-slides.length %>" class="slide-main-card">

        <div id="title<%= index-slides.length %>" style="display: none;" >
            <span>
                <h3><%= page.page_name %></h3>
                <p id="paragraph<%= index-slides.length %>" style="display: none;" ><%= page.page_desc %></p>
            </span>
        </div>
        
        <div id="slide-card<%= index-slides.length %>" class="slide-picture-box"><img width="700" src="<%= page['image']?.url!=undefined?page['image']?.url:"/images/default-image.png" %>" alt=""></div>
    
    </div>
<% }) %>

<button id="nextBtn">Next</button>


<script>

    let currentDivCount = 1;
    
    document.getElementById('nextBtn').addEventListener('click', function(){        

        let totalDivs =  document.getElementsByClassName("slide-main-card").length;

        let slideLength = totalDivs - 1;
        if (currentDivCount == slideLength){
            document.getElementById('nextBtn').style.display = "none";
        }


        let AllDivs = document.querySelector(".slide-main-card");
        AllDivs.classList.add("hide-main-card");

        let slideMainCard = document.getElementById('slide-' + currentDivCount);
        let slideCard = document.getElementById('slide-card-' + currentDivCount);
        let slidePictureBox = document.getElementById('slide-card-' + currentDivCount);
        let titleH1 = document.getElementById('title-' + currentDivCount);
        let titleP = document.getElementById('paragraph-' + currentDivCount);
        
        if (slideMainCard) {

            slideMainCard.classList.add('show-next-page');
            slideCard.classList.add('show-card');
            slidePictureBox.classList.add('show-card');
            titleH1.style.display = "flex";
            titleP.style.display = "flex";

            currentDivCount++;
        }
    });
</script>
<%- include('partials/footer') %>